## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [2]:
import pandas as pd

In [7]:
# загружаем датасет
data = pd.read_csv("adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [351]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [26]:
data.age[data.sex=='Male'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [21]:
us = len(data[data['native-country']=='United-States'].index)
total = data.shape[0]

us/total

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [237]:
a = data.age[data.salary=='>50K'].mean()
b = data.age[data.salary=='>50K'].std()
c = data.age[data.salary=='<=50K'].mean()
d = data.age[data.salary=='<=50K'].std()

print('Mean >50K: ', a)
print('Daviation >50K: ', b)
print('Mean <=50K: ', c)
print('Daviation <=50K: ', d)

Mean >50K:  44.24984058155847
Daviation >50K:  10.51902771985177
Mean <=50K:  36.78373786407767
Daviation <=50K:  14.020088490824813

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [170]:
edu = ('Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate')
data[data.salary == '>50K'].education.apply(lambda x: x in edu).all()

True

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [219]:
race_stat = data.groupby(['race']).age.describe()
sex_stat = data.groupby(['sex']).age.describe()

print(race_stat)
print(sex_stat)

max_age = race_stat['max']['Asian-Pac-Islander']

max_age

                     count       mean        std   min    25%   50%   75%  \
race
Amer-Indian-Eskimo     8.0  39.375000   9.440604  22.0  34.75  39.5  45.5
Asian-Pac-Islander    97.0  41.082474   7.930256  27.0  35.00  41.0  46.0
Black                 96.0  41.114583   9.340201  26.0  33.00  42.0  47.0
Other                  5.0  36.400000   3.781534  30.0  37.00  37.0  38.0
White               2015.0  42.792060  10.558154  22.0  35.00  42.0  49.0

                     max
race
Amer-Indian-Eskimo  51.0
Asian-Pac-Islander  63.0
Black               69.0
Other               40.0
White               90.0
         count       mean        std   min   25%   50%   75%   max
sex
Female   339.0  39.262537   9.777651  22.0  31.5  38.0  45.0  90.0
Male    1882.0  43.222635  10.400837  22.0  35.0  42.0  50.0  90.0

63.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [238]:
married = data['marital-status'][(data.salary == '>50K') & (data.sex == 'Male') & (data['marital-status'].str.contains('Married'))].count()
unmarried = data['marital-status'][(data.salary == '>50K') & (data.sex == 'Male') & (data['marital-status'].str.contains('Married')==False)].count()

all_male = data['marital-status'][(data.salary == '>50K') & (data.sex == 'Male')].count()

prop_married = married/all_male
prop_unmarried = unmarried/all_male

print('Proportion of married men: ', prop_married)
print('Proportion of unmarried men: ', prop_not_married)

Proportion of married men:  0.8953767637346143
Proportion of unmarried men:  0.1179596174282678

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [347]:
max_hours = data['hours-per-week'].max()
max_employee_count = data[data['hours-per-week'] == max_hours].fnlwgt.count()

max_salary_employee_count = data[(data['hours-per-week'] == max_hours) & (data.salary == '>50K')].fnlwgt.count()

prop_max_salary_employee_count = 100*max_salary_employee_count/max_workers_count

print('Max hours worked per week: ', max_hours)
print('Number of employees with the max hours worked: ', max_workers_count)
print('High earning percentage: ', prop_max_salary_workers_count)

Max hours worked per week:  99
Number of employees with the max hours worked:  3
High earning percentage:  100.0

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [264]:
high_earning_avg_hours = data['hours-per-week'][data.salary=='>50K'].groupby(data['native-country']).mean()
low_earning_avg_hours = data['hours-per-week'][data.salary=='<=50K'].groupby(data['native-country']).mean()

pd.merge(high_earning_avg_hours,
         low_earning_avg_hours,
         how="outer",
         on='native-country',
         suffixes=("_with_high_earning", "_with_low_earning"))

,hours-per-week_with_high_earning,hours-per-week_with_low_earning
native-country,,
?,45.547945,40.164760
Cambodia,40.000000,41.416667
Canada,45.641026,37.914634
China,38.900000,37.381818
Columbia,50.000000,38.684211
Cuba,42.440000,37.985714
Dominican-Republic,47.000000,42.338235
Ecuador,48.750000,38.041667
El-Salvador,45.000000,36.030928
England,44.533333,40.483333
France,50.750000,41.058824
Germany,44.977273,39.139785
Greece,50.625000,41.809524
Guatemala,36.666667,39.360656
Haiti,42.750000,36.325000
Honduras,60.000000,34.333333
Hong,45.000000,39.142857
Hungary,50.000000,31.300000
India,46.475000,38.233333
Iran,47.500000,41.440000
Ireland,48.000000,40.947368
Italy,45.400000,39.625000
Jamaica,41.100000,38.239437
Japan,47.958333,41.000000
Laos,40.000000,40.375000
Mexico,46.575758,40.003279
Nicaragua,37.500000,36.093750
Peru,40.000000,35.068966
Philippines,43.032787,38.065693
Poland,39.000000,38.166667
Portugal,41.500000,41.939394
Puerto-Rico,39.416667,38.470588
Scotland,46.666667,39.444444
South,51.437500,40.156250
Taiwan,46.800000,33.774194
Thailand,58.333333,42.866667
Trinadad&Tobago,40.000000,37.058824
United-States,45.505369,38.799127
Vietnam,39.200000,37.193548
Yugoslavia,49.500000,41.600000
Holand-Netherlands,NaN,40.000000
Outlying-US(Guam-USVI-etc),NaN,41.857143

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [10]:
data['AgeGroup'] = pd.cut(x=data['age'], bins=[16, 35, 70, 100],
                    labels=['young', 'adult', 'retiree'])
 
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [313]:
emp_count = data.AgeGroup[data.salary=='>50K'].groupby(data.AgeGroup).count()
emp_count

AgeGroup
adult      6042
retiree      94
young      1705
Name: AgeGroup, dtype: int64

In [318]:
max_group = data.AgeGroup[data.salary=='>50K'].groupby(data.AgeGroup).count().sort_values(ascending=False).head(1)
max_group

AgeGroup
adult    6042
Name: AgeGroup, dtype: int64

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [349]:
data.age.groupby(data.occupation).count()

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: age, dtype: int64

In [41]:
data.groupby(['occupation']).filter(lambda x: (x['age'].mean() < 40) & (x['hours-per-week'].all() < 5)).groupby(['occupation']).occupation.count()

occupation
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Protective-serv       649
Sales                3650
Tech-support          928
Name: occupation, dtype: int64